<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="../Style.css">
    <link rel="stylesheet" href="../css/galeria.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@1&family=Indie+Flower&display=swap" rel="stylesheet">
    <title>Lo q sea</title>
    <script src="https://kit.fontawesome.com/a8c2996f32.js" crossorigin="anonymous"></script>
</head>
<body>
    <header >
        <div class="container_header">
            <div id="bt_burger" class="boton_burger"><i class="fa-solid fa-bars" style="color: #d6b53d;"></i></div>
            <div class="logo__empresa" ><a href="../index.html"><img class="logo__bt" src="../img/logo_final.png" ></a></div>
            <nav  class="container__bt">
                <ul id="menu__item"class="item__menu">
                    <li class="opciones__menu"><a href="Nosotros.html" class="texto__desplegado">Nosotros</a></li>
                    <li class="opciones__menu"><a href="Productos.html" class="texto__desplegado">Productos</a></li>
                    <li class="opciones__menu"><a href="Contacto.html" class="texto__desplegado">Contacto</a></li>
                </ul>  
                </div>   
            </nav> 
        </div>    
        <div class="Separador__menu"></div>
        
    </header>
    <main>

        <div class="container_titulo">CATALOGO DE PRODUCTOS</div>

        <div class = "container_productos">
            <div class="producto"> <img src="../img/p1.jpg"> <p>Producto 1</p> <p>Precio $ 12.500</p> </div>
            <div class="producto"> <img src="../img/p2.jpg"> <p>Producto 2</p> <p>Precio $ 22.700</p> </div>
            <div class="producto"> <img src="../img/p3.jpg"> <p>Producto 3</p> <p>Precio $ 14.150</p> </div>
            <div class="producto"> <img src="../img/p4.jpg"> <p>Producto 4</p> <p>Precio $ 18.900</p> </div>
            <div class="producto"> <img src="../img/p5.jpg"> <p>Producto 5</p> <p>Precio $ 26.600</p> </div>
            <div class="producto"> <img src="../img/p6.jpg"> <p>Producto 1</p> <p>Precio $ 12.500</p> </div>
            <div class="producto"> <img src="../img/p7.jpg"> <p>Producto 2</p> <p>Precio $ 22.700</p> </div>
            <div class="producto"> <img src="../img/p8.jpg"> <p>Producto 3</p> <p>Precio $ 14.150</p> </div>
            <div class="producto"> <img src="../img/p9.jpg"> <p>Producto 4</p> <p>Precio $ 18.900</p> </div>
            <div class="producto"> <img src="../img/p10.jpg"> <p>Producto 5</p> <p>Precio $ 26.600</p> </div>
        </div>

    </main>
    <footer>
        <div class="container__footer">
            <h3 class="text__footer">Codo a Codo </h3>
            <div class="container__ico">
                <div class="ico__footer"><i class="fa-brands fa-instagram" style="color: #f2f4f8;"></i></div>
                <div class="ico__footer"><i class="fa-brands fa-whatsapp" style="color: #f2f4f8;"></i></div>
                <div class="ico__footer"><i class="fa-brands fa-twitter" style="color: #f2f4f8;"></i></div>
            </div>
        </div>
    </footer>
    <script src="../Js/menu_burger.js" type="module"></script>
</body>
</html>